.container{
    position: relative;
    object-fit: contain;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background: #202020;
    border-radius: 5px;
    color: #fff;
}
.img{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    right: 20px;
    top: 20px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title{
    margin-top: -5px;
    font-size: 0.8rem;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;

}
.address,.gmail{
    border: none;
    height: 15px;
    padding-right: 5px;
    margin-right: 5px;
    min-width: 12rem;
}

.name{
    font-size: 0.8rem;
}

@media(max-width:990px){
    .contact{
        flex-direction: column;
    }
    .address,.gmail{
        border: none;
        height: 2rem;
        margin: 0;
        padding: 0;
    }

    .container{
        position: relative;
        margin: 20px;
        max-width: 100%;
    }
}